*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
overflow-x: hidden !important;
}
body {
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
	min-width: 320px;
	position: relative;
}
.hidden {
	display: none;
}
.carousel img {
	width: 100%;
	height: auto;
}
.parallax {
	background-attachment: fixed;
	background-position: 50% 0;
	position: relative;
}
header{
	background-image: url("../img/top_bg.jpg");
	background-position: top center;
	background-repeat:repeat-x;
	min-height: 643px; 
	position: relative;
	font-family:"BebasBold";
}
header a{
	color: #fff;
}
header h1{
	text-align: center;
	color: #fff;
	margin-top: 66px;
	font-size: 38px;
	text-shadow: rgba(0,0,0,0.55) 0 3.5px;
	cursor: default;
}
.top_line{
	min-height: 97px;
	box-shadow: rgba(255,255,255,0.3) 0 0 0 1px;
	background-color: rgba(0,0,0,0.6);
	padding: 22px 0;
	width: 100%;
}
.top_line a{
	font-size: 21px;
	border-bottom: #fff dashed 1px;
}
.top_line a:hover{
	border-bottom: transparent 1px dashed;
	transition: all .35s;
}
.top_addr{
background-image: url("../img/top_map.png");
background-repeat: no-repeat;
background-position: left top;
font-family: "BebasBold";
padding-left: 50px;
line-height: 26px;
}
.top_addr strong{
	display: block;
	color: #d12f22;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 32px;
	cursor: default;
}
.top_addr a{
	font-size: 21px;
	border-bottom: #fff dashed 1px;
}
.top_line .logo{
	border-bottom: none;
	position: absolute;
	margin-top: -16px;
}
.top_line .logo:hover{
	border-bottom:none;
}
.logo_wrap{
	position: relative;
	width: 198px;
	margin: auto;
}
.ta_right{
	background-image: none;
	padding-left: 0;
	text-align: right;
}
.ta_right span{
	color: #fff;
}
.button{
	background-color: #d12f22;
	display: inline-block;
	height: 50px;
	vertical-align: middle;
	line-height: 50px;
	padding:0 25px;
	font-size: 20px;
	border-bottom: #ac160a 4px solid;
	color: #fff;
	font-family: "BebasBold";
}
header .button{
	margin-right: 20px;
}
.button:hover{
	background-color: #e64437;
}
.button:active{
	background-color: #b81609;
}
.st_button{
	line-height: 18px;
	padding-top: 7px;
	padding-left: 60px;
	text-align: left;
	background-image: url("../img/camera_icon.png");
	background-position: 8px 8px;
	background-repeat: no-repeat;
}
.buttons_top{
	position: absolute;
	width: 100%;
	bottom: 32px;
}

.top_mnu{
	height: 60px;
	background-color: #242424;
	box-shadow: rgba(59,59,59,1) 0 0 0 1px;
	font-family: "BebasRegular";
	text-transform: uppercase;
}
.top_mnu ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
	
}
.top_mnu a{
	color: #fff;
	padding: 0 26px 0 50px;
	display: block;
	line-height: 60px;
	border-left: #3B3B3B 1px solid;
	background-image: url("../img/top_mnu_iconset.png");
	background-repeat: no-repeat;
	background-position: 20px 20px;
}
.top_mnu li{
	float: left;
}
.top_mnu li.active,
.top_mnu li:hover{
	background-color: #050505;
}
.top_mnu li:nth-child(2) a{
	background-position: 16px -64px;
}
.top_mnu li:nth-child(3) a{
	background-position: 24px -135px;
}
.top_mnu li:nth-child(4) a{
	background-position: 14px -220px;
}
.top_mnu li:nth-child(5) a{
	background-position: 14px -308px;
}
.top_mnu li:nth-child(6) a{
	background-position: 20px -402px;
}
.warranty {
	border: 3px solid #fff;
	border-radius: 3px;
	float: right;
	color: #fff;
	cursor: default;
	font-size: 15px;
	line-height: 18px;
	padding: 3px 5px;
	margin-top: 6px;
}
.w_left {
	font-size: 20px;
	margin-top: 10px;
	margin-right: 8px;
	display: inline-block;
	vertical-align: top;
	font-family: "BebasBold";
}
.w_left span{
	font-size: 34px;
	font-family: "BebasBold";
}
.w_right{
	display: inline-block;
	vertical-align: top;
	font-family: "RobotoCondensedRegular";
}
.main_cats{
	background-color: #191919;
	padding: 25px 0 40px;
	cursor: default;
}
.main_cats h2,
.art_header{
	cursor: default;
	text-transform: uppercase;
	color: #c9c9c9;
	font-family: "BebasRegular";
	font-size: 40px;
	text-align: center;
}
.main_cats h2 strong{
	color: #fff;
}
.main_cats h2 span{
	color: #d12f22;
}
.section h2,
.article h2{
	position: relative;
}
.s_black h2::before{
	content: "";
	position: absolute;
	width: 200px;
	height: 67px;
	background-image: url("../img/header_img.png");
	top: 27px;
	margin-left: -220px;
}
.s_black h2::after{
	background-image: url("../img/header_img.png");
	transform: rotate(180deg);
	content: "";
	position: absolute;
	width: 200px;
	height: 67px;
	top: 27px;
	margin-left: 20px;
}
.mc_item{
	border: #353535 1px solid;
	border-radius: 2px;
}
.mc_item h4{
	font-weight: normal;
	font-family: "BebasRegular";
	font-size: 20px;
	margin-top: 5px;
	margin-bottom: 7px;
}
.mc_item a:hover h4{
	text-decoration: underline;
}
.mc_item_wrap.active h4{
	text-decoration: underline;
}
.mc_item_wrap.active,
.mc_item_wrap:hover {
	background-color: #2a2a2a;
}
.mc_item_wrap{
	margin-left: 20px;
	width: 170px;
	display: inline-block;
	text-align: center;
}
.mc_item_wrap_af{
	content: "";
	width: 23px;
	height: 13px;
	
	position: absolute;
	margin: 0px 0px;
	display: none;
}
.mc_item_wrap:nth-child(1){
	margin-left: 0;
}
.mc_wrap{
	text-align: center;
	padding: 0;
	position: relative;
}
.mc_item_wrap a{
	color: #fff;
}

.mc_item span{
	display: block;
	height: 85px;
	width: 150px;
	background-image: url("../img/cats_iconset1.png");
	margin: 10px auto;
}
.mc_item_wrap:nth-child(1) span{
	background-position: -7px 0;
}
.mc_item_wrap:nth-child(2) span{
	background-position: -160px 0;
}
.mc_item_wrap:nth-child(3) span{
	background-position: -320px 0;
}
.mc_item_wrap:nth-child(4) span{
	background-position: -478px 0;
}
.mc_item_wrap:nth-child(5) span{
	background-position: -636px 0;
}
.mc_item_wrap:nth-child(6) span{
	background-position: -790px 0;
}
.mc_toggle{
	background-color: #212121;
	height: 26px;
	position: relative;
	cursor: pointer;
	background-image: url("../img/mc_arr.png");
	background-position: 77px center;
	background-repeat: no-repeat;
}
.mc_item_wrap.active .mc_toggle,
.mc_item_wrap:hover .mc_toggle{
	background-color: #353535;
	background-position: -112px center;
}
body .mc_wrap .mc_item_wrap > ul{
	position: absolute;
	width: 100%;
	margin-top: 20px;
	font-size: 20px;
	background-color: #353535;
	padding: 15px 0;
	list-style-type: none;
	z-index: 10;
	float: left;
	display: none;
	left: 0;
}
.mc_item_wrap.active > ul{
	position: absolute;
	margin: 0;
	padding: 0;
} 
.mc_item_wrap.active > ul li{
	display: inline-block;
	font-family: "BebasRegular";
}
.mc_item_wrap.active > ul li a{
	padding: 0 10px;
	text-decoration: underline;
}
.mc_item_wrap.active > ul li a:hover{
	text-decoration: none;
}
.mc_button_w{
	text-align: center;
	margin-top: 40px;
}
article.content{
	background-color: #E9E9E9;
}
article h2.art_header::before{
	content: "";
	position: absolute;
	width: 200px;
	height: 67px;
	background-image: url("../img/art_header_img1.png");
	background-repeat: no-repeat;
	top: 51px;
	margin-left: -70px;
}
article h2.art_header::after{
	background-image: url("../img/art_header_img2.png");
	background-repeat: no-repeat;
	content: "";
	position: absolute;
	width: 200px;
	height: 67px;
	top: 51px;
	margin-left: 20px;
}
article .art_header{
	color: #050505;
	margin-bottom: 10px;
}
p.h_descr{
	cursor: default;
	max-width: 790px;
	text-align: center;
	margin: auto;
	color: #050505;
	font-family: "RobotoRegular";
	font-size: 16px;
	font-weight: bold;
	margin-top: 0;
}
.home_items{
	background-color: #D6D6D6;
	padding: 40px 0;
	margin-top: 40px;
}
.hi_item{
	cursor: default;
	color: #050505;
	font-size: 14px;
	text-align: justify;
	margin-bottom: 50px;
}
.hi_item img{
	height: 280px;
	max-width: 100%;
	border-top: #ac160a 8px solid;
}
.s_bottom{
	margin-top: 32px;
}
.s_bottom img{
	max-width: 100%;
}
.s_bottom h2{
	vertical-align: middle;
	color: #050505;
}
.s_bottom p{
	color: #050505;
	font-weight: bold;
	text-align: justify;
}
.sb_header{
	line-height: 50px;
	vertical-align: middle;
}
.sb_header .button_cont{
	text-align: right;
}
.sb_header h2{
	cursor: default;
	margin: 0;
	text-transform: uppercase;
	font-family: "BebasRegular";
	font-size: 36px;
}
.sb_content{
	margin-top: 30px;
}
.sb_content p{
	cursor: default;
	margin-bottom: 0;
	margin-top: 10px;
}
footer{
	cursor: default;
	background-color: #2A2A2A;
	color: #fff;
	padding: 28px 0 34px;
	font-family: "BebasBold";
	font-size: 20px;
	text-align: center;
	text-transform: uppercase;
	padding-left: 300px;
	padding-right: 100px;
}
footer a{
	color: #fff;
	text-decoration: underline;
}
footer a:hover{
	text-decoration: none;
}
footer ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
footer li{
	float: left;
	padding: 0 10px;
}