

@font-face{    
	font-family: "Sofia Pro Regular";
	src : url("../fonts/Sofia Pro Regular/Sofia Pro Regular.ttf");
	font-family: "Sofia Pro Bold";
	src : url("../fonts/Sofia Pro Bold/Sofia Pro Bold.ttf");
	font-family: "Sofia Pro SemiBold";
	src : url("../fonts/Sofia Pro SemiBold/Sofia Pro SemiBold.ttf");
	font-family: "Sofia Pro Medium";
	src : url("../fonts/Sofia Pro Medium/Sofia Pro Medium.ttf");
	font-family: "Sofia Pro Light";
	src : url("../fonts/Sofia Pro Light/Sofia Pro Light.ttf");
}

$font-stack: 'Sofia Pro Regular';
$primary-color: #4b4b4b;

body {
	font-family: $font-stack;
	color: $primary-color;
}

input {
	margin: 0;
	padding: 0;
}

ul {
	margin: 0;
	padding: 0;
}

a:hover {
	text-decoration: none;
	color: inherit;
}

li { display: inline-block; }

#header-hp {
	background: url('../img/Illustration.jpg') no-repeat;
	background-position: 47em -8em;
	height: 1150px;
	padding-top: 34px;
}

.btn-full {
	color: #fff;
	background-color: #7a2fdd;
	border-radius: 4px;
	text-align: center;	
	font-family: "Sofia Pro Semi Bold", sans-serif;
	font-size: 18px;
	font-weight: 600;
}

.btn-empty {
	color: #7a2fdd;
	background-color: #fff;
	border: 1px solid #7a2fdd;
	border-radius: 4px;
	text-align: center;
	font-family: "Sofia Pro Semi Bold", sans-serif;
	font-size: 18px;
	font-weight: 600;
}

.heading {

	.logo {
		width: 98px;
		height: 67px;
		display: inline-block;
		margin-left: 53px;
	}

	.menu {
		display: inline-block;
	}

	.menu li{
		margin-left: 30px;
	}

	.menu a{
		color: $primary-color;
		font-size: 16px;
		font-weight: 400;
	}
}

.heading-title {

	margin-top: 124px;
	padding-left: 96px;

	h1 {
		font-size: 56px;
		font-weight: 400;
		line-height: 72px;
	}

	p {
		margin-top: 28px;
		font-size: 22px;
		font-weight: 400;
		line-height: 23px;
	}

	a {	
		margin-top: 40px;
		padding: 20px 58px;
		display: inline-block;
		min-width: 240px;
		height: 62px;
	}

	a:nth-child(4) {	
		margin-left: 35px;
	}

}

#what {

	margin-top: 100px;

	.what-l,
	.what-r {
		padding-left: 240px;
	}

	.what-l p,
	.what-r p {
		font-size: 20px;
		font-weight: 400;
		line-height: 20px;
		margin-top: 14px;
	}

	.what-l .item-title,
	.what-r .item-title {
		font-family: "Sofia Pro Medium";
		font-size: 25px;
		font-weight: 500;
		margin-top: 34px;
	}

	.what-l__item1 h2 {
		font-size: 56px;
		font-weight: 400;
		letter-spacing: -0.18px;
		line-height: 65px;
	}

	.what-l__item2 {
		margin-top: 190px;
	}

	.what-l__item3 {
		margin-top: 164px;
	}

	.what-r__item2 {
		margin-top: 140px;
	}

	.what-r__item3 {
		margin-top: 150px;
	}
}

#how {

	margin-top: 180px;

	.how-title {
		text-align: center;
	}

	.how-title h2 {
		font-size: 52px;
		font-weight: 400;
		letter-spacing: -0.17px;
		line-height: 56px;
	}

	.how-title p {
		margin-top: 42px;
		font-size: 20px;
		font-weight: 400;
		line-height: 23px;
	}

	.how-users {
		margin-top: 86px;
		text-align: left;
		width: 480px;
		border: 1px solid #d2d2d2;
		border-radius: 35%;
		padding: 50px 0px 50px 20px;
	}

	.how-users p {
		font-family: "Sofia Pro Light";
		font-size: 18px;
		font-weight: 300;
		line-height: 20px;
	}

	.how-users .how-users__title {
		font-family: "Sofia Pro Medium";
		font-size: 25px;
		font-weight: 500;
	}

	.how-users__img {
		margin: -20px auto;
		display: block;
	}

	.how-users li {
		display: block;
		&::before{
			height: 8px;
			display: inline-block;
			margin: 0 10px 0 0;
			width: 10px;
			content: "";
			background: url(../img/Shape.png) no-repeat;
			background-size: cover;
		}
	}
	
	.three-man {
		margin-top: 26px;
	}

	.three-man p {
		display: inline-block;
		font-family: "Sofia Pro Bold";
		font-size: 18px;
		font-weight: 700;
		letter-spacing: -0.06px;
		line-height: 21px;
		padding: 10px
	}

	.three-man p:nth-child(1),
	.three-man p:nth-child(3) {
		margin-top: 40px;
	}

	.three-man p:nth-child(2),
	.three-man p:nth-child(3) {
		margin-left: 140px;
	}

	.three-man__img {
		margin-top: 50px;
		margin-left: 40px;
	}

	.three-man__img img {
		display: inline-block;
		margin-left: 23px;
		margin-top: -20px;
		padding: 10px
	}

	.three-man__img img:nth-child(1),
	.three-man__img img:nth-child(3) {
		margin-top: 20px;
	}

	.four-prop {
		margin: 0 15%;
		margin-top: 35px;
		border: 2px solid #ff7062;
		border-top: none;
		border-radius: 0 0 8px 8px;
		padding: 15px 0 0 0;
	}

	.four-prop p {
		margin-left: 125px;
		font-family: "Sofia Pro Bold";
		font-size: 18px;
		font-weight: 700;
		letter-spacing: -0.06px;
		line-height: 21px;
	}

	.four-prop p span{
		opacity: 0.5;
		font-size: 16px;
		font-weight: 400;
		letter-spacing: -0.05px;
		line-height: 18px;
		margin-top: 8px;
		display: inline-block;
	}

	.four-prop p:nth-child(1) {
		margin-left: 0;
	}

	.controle {
		margin-top: 50px;

		.controller {
			width: 268px;
			height: 180px;
			margin-top: 77.5px;
			margin-left: 80px;
			padding-left: 10px;
		}
	}

	.okta {
		ul{
			padding: 30px 40px;
			border: 1px dashed rgba(75, 75, 75, 0.5);
			border-radius: 4px;
			position: relative;
		}

		li{
			margin-top: 20px;
			display: block;
			font-family: "Segoe UI Semibold 8";
			font-size: 16px;
			font-weight: 600;
			letter-spacing: -0.05px;
		}
		li:nth-child(1) {
			margin-top: 0;
		}
		li:nth-child(2) {
			opacity: 0.4;
		}

		p {
			position: absolute;
			left: 172px;
			top: 153px;
			font-family: "Sofia Pro Bold";
			font-size: 18px;
			font-weight: 700;
			letter-spacing: -0.06px;
		}
	}

	.controle-plane {
		margin-left: 80px;
		border: 1px solid #d2d2d2;
		position: relative;
		border-radius: 50%;
		padding: 40px 20px 40px 50px;

		p {
			font-family: "Sofia Pro Light";
			font-size: 18px;
			font-weight: 300;
			line-height: 20px;
		}

		.controle-plane__title {
			font-family: "Sofia Pro Medium";
			font-size: 25px;
			font-weight: 500;
		}

		.controle-plane__img {
			display: block;
			position: absolute;
			top: 414px;
			left: 190px;
		}

		ul {
			margin: 0;
			padding: 0;
		}

		li {
			display: block;
			font-family: "Sofia Pro Light";
			font-size: 18px;
			font-weight: 300;
			line-height: 20px;
			&::before {
				height: 8px;
				display: inline-block;
				margin: 0 10px 0 0;
				width: 10px;
				content: "";
				background: url(../img/Shape-plane.png) no-repeat;
				background-size: cover;
			}
		}
	}

	.gateway {
		margin-top: 100px;

		.gateway-plane {
			border: 1px solid #d2d2d2;
			position: relative;
			border-radius: 45%;
			padding: 40px 20px 30px 40px;

			p {
				font-family: "Sofia Pro Light";
				font-size: 18px;
				font-weight: 300;
				line-height: 20px;
			}

			.gateway-plane__title {
				font-family: "Sofia Pro Medium";
				font-size: 25px;
				font-weight: 500;
			}

			.gateway-plane__img {
				display: block;
				position: absolute;
				top: 265px;
				left: 190px;
			}

			ul {
				margin: 0;
				padding: 0;
			}

			li {
				display: block;
				font-family: "Sofia Pro Light";
				font-size: 18px;
				font-weight: 300;
				line-height: 20px;
				&::before {
					height: 8px;
					display: inline-block;
					margin: 0 10px 0 0;
					width: 10px;
					content: "";
					background: url(../img/Shape-plane.png) no-repeat;
					background-size: cover;
				}
			}
		}		

		.gateway__img {
			width: 290px;
			height: 175px;
			display: block;
			margin-left: 40px;
		}

		.gateway__eye {
			margin-top: 63px;
			margin-left: 27px;
			width: 32px;
			height: 32px;
		}

		.gateway__vis {
			margin-top: 63px;
			margin-left: 12px;
			opacity: 0.5;
			font-size: 16px;
			font-weight: 400;
			letter-spacing: -0.05px;
		}
	}

	.network {
		margin-top: 140px;

		.aws {

			ul {
				text-align: center;
			}

			li {
				margin-top: 15px;
				display: block;
			}

			li:nth-child(2) {
				opacity: 0.3;
			}
		}

		.icons {
			margin-top: 40px;

			ul {
				margin-left: 30px;
			}

			li {
				margin-left: 115px;
				font-family: "Sofia Pro Bold";
				font-size: 18px;
				font-weight: 700;
				letter-spacing: -0.06px;
				line-height: 21px;
			}

			li img{
				margin-bottom: 8px;
			}

			li:nth-child(1) {
				margin-left: 30px;
			}
		}
		
		p {
			font-family: "Sofia Pro Bold";
			font-size: 18px;
			font-weight: 700;
			letter-spacing: -0.06px;
			margin-top: -50px;
			margin-left: -70px;

		}

		.your-network {
			margin-left: 50px;
			margin-top: -80px;
			border: 1px solid #d2d2d2;
			position: relative;
			border-radius: 40%;
			padding: 30px 10px 40px 20px;

			p {
				font-family: "Sofia Pro Light";
				font-size: 18px;
				font-weight: 300;
				line-height: 20px;
				margin-left: 0;
				margin-top: 0;
			}

			.your-network__title {
				font-size: 25px;
				font-weight: 500;
				font-family: "Sofia Pro Medium";
				margin-left: 0;
			}

			li {
				display: block;
				font-family: "Sofia Pro Light";
				font-size: 18px;
				font-weight: 300;
				line-height: 20px;
				&::before {
					height: 8px;
					display: inline-block;
					margin: 0 10px 0 0;
					width: 10px;
					content: "";
					background: url(../img/Shape-network.png) no-repeat;
					background-size: cover;
				}
			}

			.your-network__img {
				position: absolute;
				top: 285px;
				left: 185px;
			}
		}
		
	}
}

#security {
	margin-top: 210px;
	padding-left: 150px;
	background: url('../img/pexels-photo.jpg') no-repeat;
	background-position: 70em 0em;
	height: 670px;
	
	.security h2 {
		font-size: 52px;
		font-weight: 400;
		letter-spacing: -0.17px;
		line-height: 56px;
		margin-top: 40px;
		margin-bottom: 42px;
	}

	.security p {
		margin-top: 52px;
		font-size: 20px;
		font-weight: 400;
		line-height: 22px;
	}

	.security a {
		display: block;
		margin-top: 50px;
		width: 160px;
		height: 40px;
		border-radius: 3px;
		font-family: "Sofia Pro Semi Bold";
		font-size: 16px;
		font-weight: 600;
		padding: 10px 40px;
	}

}

.security-img {
	display: none;
}
#careers {
	margin-top: 250px;

	.careers-title h2 {
		font-size: 52px;
		font-weight: 400;
		letter-spacing: -0.17px;
		line-height: 56px;
	}

	.careers-title p {
		margin-top: 37px;
		font-size: 20px;
		font-weight: 400;
		line-height: 23px;
		margin-bottom: 60px;
	}

	.careers-item__second {
		margin-top: 40px;
	}

	.careers-item__first,
	.careers-item__second {
		max-width: 460px;
		min-height: 212px;
		border-radius: 8px;
		border: 1px solid #f4f4f4;
		
		p {
			font-family: "Sofia Pro Light";
			font-size: 16px;
			font-weight: 300;
			line-height: 20px;
			margin-top: 14px;
			margin-left: 30px;
		}

		.careers-item__title {
			font-family: "Sofia Pro Medium";
			font-size: 25px;
			font-weight: 500;
			margin-top: 32px;
		}

		span {
			opacity: 0.5;
			color: #4b4b4b;
			font-family: "Sofia Pro Medium";
			font-size: 16px;
			font-weight: 500;
			display: inline-block;
			margin: 50px 0 27px 300px;
			}&::after{
				height: 14px;
				width: 7px;
				display: inline-block;
				margin: 14px 0px 0px 2px;
				content: "";
				background: url(../img/Path.png) no-repeat;
				background-size: cover;
			}
		}
	}

	#request {
		margin-top: 160px;
		background: #f4f4f4;
		padding-left: 150px;
		padding-right: 150px;


		.request-title h2 {
			margin-top: 120px;
		}

		form {
			margin-top: 80px;
		}

		input {
			border: none;
			border-radius: 0;
			font-size: 18px;
			font-weight: 400;
			background: #f4f4f4;
			border-bottom: 1px solid rgba(75, 75, 75, 0.3);
			padding-top: 22px;
			padding-bottom: 22px;
		}

		input:focus {
			outline: none;
			box-shadow: 0 0 1px 1px #7a2fdd;
		}

		button {
			margin-top: 50px;
			margin-bottom: 120px;
			min-width: 140px;
			height: 62px;
		}
	}

	footer {
		padding: 50px 150px 75px 150px;

		form {
			border: 1px solid rgba(75, 75, 75, 0.3);
			border-radius: 20px;
			width: 370px
		}

		input {
			border: none;
			opacity: 0.5;
			color: #4b4b4b;
			font-size: 15px;
			font-weight: 400;
			letter-spacing: -0.1px;
			margin-left: 25px;
		}

		.btn-sub {
			margin-left: 100px;
		}

		ul {
			margin-top: 12px;
			margin-left: 350px;
			display: inline-block;
			color: #d2d2d2;
		}

		ul li {
			margin-left: 46px;
		}
	}

	/*	Careers*/

	#header-careers {
		padding-top: 34px;

		.btn-empty {
			margin-left: 590px;
			margin-right: 50px;
			padding: 15px 49px 9px 51px;
		}

		.heading-title {
			padding-left: 150px;
		}

		.heading-title h1 {
			font-size: 64px;
			line-height: 72px;
			font-weight: 400;
		}

		.heading-title p {
			margin-top: 34px;
			font-family: "Sofia Pro Light";
			font-size: 19px;
		}

		.heading-title a {
			margin-top: 50px;
		}
	}

	#skills {
		margin-top: 120px;
		padding-left: 150px;
		padding-bottom: 110px;

		h3 {
			font-size: 32px;
			font-weight: 400;
		}

		ul {
			margin-top: 18px;
		}

		ul li {
			display: block;
			font-family: "Sofia Pro Light";
			font-size: 18px;
			font-weight: 300;
			line-height: 43px;
			&::before {
				content: "";
				display: inline-block;
				background: url(../img/Oval.jpg) no-repeat;
				background-size: cover;
				height: 7px;
				width: 7px;
				margin: 0 15px 2px 0px;
			}
		}

		.required, 
		.love,
		.building {
			margin-top: 60px;
		}

		.building p {
			margin-top: 28px;
			font-family: "Sofia Pro Light";
			font-size: 19px;
			font-weight: 300;
			line-height: 23px;
		}

		.building a {
			margin-top: 50px;
			display: inline-block;
			min-width: 240px;
			height: 62px;
			font-family: "Sofia Pro Semi Bold";
			font-size: 18px;
			font-weight: 600;
			border-radius: 4px;
		}

		.building .btn-full {
			padding: 17px 45px 18px 46px;
		}

		.building .btn-empty {
			padding: 17px 51px 18px 53px;
			color: #4b4b4b;
			border: 1px solid #4b4b4b; 
		}
	}

	#photo {
		img {
			width: 100%;
		}
	}

	/*FAQ*/

	#header-faq {
		padding-top: 34px;

		.btn-empty {
			margin-left: 590px;
			margin-right: 50px;
			padding: 15px 49px 9px 51px;
		}

		.heading-title {
			padding-left: 150px;
		}

		.heading-title h1 {
			font-size: 64px;
			line-height: 72px;
			font-weight: 400;
		}

		.heading-title h3 {
			margin-top: 86px;
			font-size: 32px;
			font-weight: 400;
		}

		.heading-title p {
			margin-top: 28px;
			font-family: "Sofia Pro Light";
			font-size: 19px;
		}

		.heading-title p:nth-child(6) {
			margin-top: 60px;
		}

		.heading-title li {
			display: block;
			font-family: "Sofia Pro Light";
			font-size: 18px;
			font-weight: 300;
			line-height: 43px;
			&::before {
				content: "";
				display: inline-block;
				background: url(../img/Oval.jpg) no-repeat;
				background-size: cover;
				height: 7px;
				width: 7px;
				margin: 0 15px 2px 0px;
			}
		}
	}

	#accordion {
		padding-left: 150px;
		height: 800px;

		.accordionWrapper{
			width: 780px;
			height: 195px;
			margin-left: -50px;
		}

		.accordionItemHeading{
			cursor: pointer;
			margin-bottom: 0;
			font-family: "Sofia Pro Medium";
			font-size: 25px;
			font-weight: 500;
			border-radius: 8px 8px 0 0;
			padding-left: 26px;
			padding-top: 30px;
		}

		.accordionItemHeading img{
			margin-right: 24px;
		}

		.closed .accordionItemContent{
			height: 0px;
			transition: height 1s ease-out;
			transform: scaleY(0);
		}
		.open .accordionItemContent{
			background-color: #8a53d3;
			color: #fff;
			transform: scaleY(1);
			transform-origin: top;
			transition: transform 0.4s ease;
			margin-top: 0;
			border-radius: 0 0 8px 8px;
			padding: 20px 60px 46px 80px;
		}

		.open .accordionItemHeading{
			background-color: #8a53d3;
			color: #fff;
		}

	}

	#details {
		margin-top: 150px;
		padding-left: 150px;
		background-color: #f4f4f4;

		.request-title h2 {
			margin-top: 120px;
		}

		form {
			margin-top: 80px;
		}

		input {
			border: none;
			border-radius: 0;
			font-size: 18px;
			font-weight: 400;
			background: #f4f4f4;
			border-bottom: 1px solid rgba(75, 75, 75, 0.3);
			padding-top: 22px;
			padding-bottom: 22px;
		}

		input:focus {
			outline: none;
			box-shadow: 0 0 1px 1px #7a2fdd;
		}

		button {
			margin-top: 50px;
			margin-bottom: 120px;
			min-width: 140px;
			height: 62px;
		}
	}

@import 'media';