/*#header-hp {
	@media (max-width: 750px) {

	}
}
*/
#header-hp {
	@media (max-width: 750px) {
		height: auto;
		background: none;
	}

	.heading-title {
		@media (max-width: 750px) {
			padding-left: 50px;
		}

	}

	.heading-title a {
		@media (max-width: 750px) {
			margin: 40px 20%;
			padding: 20px 40px;
			display: block;
		}
	}
}

#what {
	@media (max-width: 750px) {
		margin-top: 0;
		padding-left: 100px;
	}

	.what-l__item1,
	.what-l__item2,
	.what-l__item3,
	.what-r__item1,
	.what-r__item2,
	.what-r__item3, {
		@media (max-width: 750px) {
			margin-top: 80px;
		}

	}

	.what-l,
	.what-r{
		@media (max-width: 750px) {
			padding-left: 0;
			text-align: center;
		}
	}
}

#how {
	@media (max-width: 750px) {
		margin-top: 50px;
	}

	.four-prop {
		@media (max-width: 750px) {
			margin: 0;
		}
	}

	.four-prop p {
		@media (max-width: 1200px) {
			margin-left: 20px;
		}
	}
	
}

#security {
	@media (max-width: 750px) {
		margin-top: 100px;
		padding-left: 50px;
		background: none;
		height: auto;
	}

	.security h2{
		@media (max-width: 750px) {
			font-size: 64px;
			font-weight: 400;
			letter-spacing: -0.21px;
			line-height: 76px;
		}
	}

	.security p{
		@media (max-width: 750px) {
			font-size: 34px;
			font-weight: 400;
			letter-spacing: -0.11px;
			line-height: 42px;
		}
	}

	.security a {
		@media (max-width: 750px) {
			width: 370px;
			height: 104px;
			font-family: "Sofia Pro Semi Bold";
			font-size: 36px;
			font-weight: 600;
			padding-top: 25px;
		}
	}

}

.security-img {

	@media (max-width: 750px) {
		display: block;
	}
}