/* --- Phone --- */
@media screen and (max-width: 960px) {
	.container{
		width: 90%;
	}
	.mission{
		width: 50%;
	}
	.merit{
		width: 50%;
	}
	.line{
		display: none;
	}
	.triple{
		width: 102%;
		padding: 0;
		margin-left: 0;
	}
	.footer_item{
		margin-right: 1%;
		width: 25%;
		padding: 0;
		padding-left: 10%;
	}
	.footer_item:nth-child(2){
		width: 23%;
	}
	.footer_item:nth-child(3){
		width: 25%;
	}
}

/* --- Tablet --- */
@media screen and (max-width: 728px) {
	.container{
	
	}
	.mission{
		width: 100%;
		float: none;
		margin-left: 25%;
	}
	.merit{
		width: 100%;
		float: none;
		margin-left: 25%;
		margin-top: 25px;
	}
	.triple{
		width: 102%;
		padding: 0;
		margin-left: 0;
	}
	.footer_item{
		margin-right: 0;
		width: 100%;
		text-align: center;
	}
	.footer_item:nth-child(2){
		display: none;
	}
	.footer_item:nth-child(3){
		width: 100%;
		text-align: center;
	}
}
