* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

body {
	font-family: 'Rubik', sans-serif;
}

h2 {
	font-size: 42px;
	text-transform: uppercase;
}

a:hover {
	text-decoration: none;
}

.line{
	width: 80px;
	height: 2px;
	background: #3190ff;
	margin: 0 auto;
	margin-top: 12px;
}

.btn:hover {
	color: #3190ff;
	transition-duration: .3s;
}

.navbar {
	background: #343a40;
}

.logo {
	height: 50px;
}

.navbar-toggler {
    color: rgba(255,255,255,.5);
    border-color: rgba(255,255,255,.1);
    border: 1px solid #3190ff;
}

.navbar-toggler-icon {
	background: url('../img/menu-3x.png') no-repeat center center;
}

.navbar-brand {
	color: #fff;
}

.navbar-brand:hover {
	color: #3190ff;
	transition-duration: .3s;
}

.nav-link {
	color: #fff;
	font-size: 18px;
	margin-left: 20px;
}

.nav-link:hover,
.nav-link .active{
	color: #3190ff;
	transition-duration: .3s;
}

.carousel-item {
	height: 700px;
	padding-right: 15%;
	padding-top: 10%;
}

.carousel-item .btn {
	margin-top: 2%;
}

.carousel-item__first {
	background: linear-gradient(
		rgba(0, 0, 0, 0.3), 
		rgba(0, 0, 0, 0.3)
		), url('../img/bugatti.jpg') no-repeat center center;
	background-size: cover;
}

.carousel-item__first h1,
.carousel-item__third h1 {
	color: #fff;
	font-size: 54px;
}

.carousel-item__second h1 {
	color: #000;
	font-size: 54px;
}

.carousel-item__second {
	background: linear-gradient(
		rgba(0, 0, 0, 0.2), 
		rgba(0, 0, 0, 0.2)
		), url('../img/Car-spares.jpg') no-repeat center center;
	background-size: cover;
}

.carousel-item__third {
	background: linear-gradient(
		rgba(0, 0, 0, 0.5), 
		rgba(0, 0, 0, 0.5)
		), url('../img/sports-cars.jpg') no-repeat center center;
	background-size: cover;
}

/*Details*/

#details {
	max-width: 100%;
	box-shadow: 0px 16px 26px -6px #000000;
}


.details-item{
	flex-basis: 25%;
	max-width: 25%;
	display: list-item;	
}

/*.details-item:hover {
transform: rotate(180deg);	
}*/

.category-image {
	margin: 0;
	display: block;
}

.category-image img{
	width: 100%;
}

.item-wrapper {
	position: relative;
}

.item-wrapper::before {
	content: "";
	display: block;
	position: absolute;
	border: 12px solid #000;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: all .3s ease;
}

.item-wrapper:hover::before {
	opacity: 0.7;
}

.item-content {
	position: absolute;
	top: 0;
	left: 0;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding: 10%;
	color: #fff;
	cursor: context-menu;
/*	height: 100%;
	width: 100%;
	background: rgba(0,0,0,0.2);*/
}

.item-content span{
	font-size: 22px;
	font-weight: 400;
	line-height: 1.1;
	text-transform: uppercase;
	margin-bottom: 5px;
	display: block;
	text-shadow: 
	-0   -0.5px 0.5px #000000,
	0   -0.5px 0.5px #000000,
	-0    0.5px 0.5px #000000,
	0    0.5px 0.5px #000000,
	-0.5px -0   0.5px #000000,
	0.5px -0   0.5px #000000,
	-0.5px  0   0.5px #000000,
	0.5px  0   0.5px #000000,
	-0.5px -0.5px 0.5px #000000,
	0.5px -0.5px 0.5px #000000,
	-0.5px  0.5px 0.5px #000000,
	0.5px  0.5px 0.5px #000000,
	-0.5px -0.5px 0.5px #000000,
	0.5px -0.5px 0.5px #000000,
	-0.5px  0.5px 0.5px #000000,
	0.5px  0.5px 0.5px #000000;
}

.item-content .item-content__title{
	font-size: 30px;
	font-weight: 600;
	line-height: 1.1;
	text-transform: uppercase;
	margin-bottom: 5px;
	display: block;
	margin-bottom: 10px;
}

/*Brends*/

#brends {
	padding: 40px 0;
	background: #c7cacc9c;
}

.brend-item {
	width: 100%;
	margin: 10px;
}

.brend-item img {
	opacity: 0.4;
	max-width: 100%;
}

.brend-item img:hover {
	opacity: 0.8;
	transition: all .4s;
}

/* About */

#about {
	height: 500px;
	background: linear-gradient(
		rgba(0,0,0,0.5),
		rgba(0,0,0,0.5)
		), 
	url('../img/about_ford.png') no-repeat center center;
	background-attachment: fixed;
	-webkit-background-size: cover;
	background-size: cover;
}

.about h2 {
	margin-top: 80px;
	color: #fff;
	font-size: 42px;
	text-transform: uppercase;
}

.about p {
	margin-top: 20px;
	padding: 0 50px;
	color: #fff;
	font-size: 24px;
}

.about a {
	margin-top: 50px;
}

/*Test block*/

#about-more {
	height: auto;
	background: linear-gradient(
		#c7cacc9c,
		#c7cacc9c
		), url('../img/moto.jpg') no-repeat center center;
	background-attachment: fixed;
	-webkit-background-size: cover;
	background-size: cover;
}

.about-more__item {
	color: #000;
	margin: 50px 0;
}

.about-more__item h3 {
	font-weight: 700;
	font-size: 34px;
}

.about-more__item p {
	margin-top: 12px;
	font-weight: 600;
	font-size: 28px;
}


/*Contacts*/

/*Light*/

/*#contacts {
	padding: 40px 0;
	background: #c7cacc;
}

.contacts-title {
	color: #000;
}

.contacts-item img {
	margin-top: 40px;
}

.contacts-item p {
	margin-top: 10px;
	color: #000;
	display: block;
	font-size: 26px;
}

.contacts-item li {
	color: #000;
	font-size: 18px;
	line-height: 28px;
}

.contacts-item li a {
	color: #000;
}



footer {
	color: #000;
	border-top: 2px solid #00000094;
	padding: 30px 0;
	background: #c7cacc;
}

.footer {
	margin: 0;
	}*/



	/*Dark*/

	#contacts {
		padding: 40px 0;
		background: #343a40;
	}

	.contacts-title {
		color: #fff;
	}

	.contacts-item img {
		margin-top: 40px;
		height: 80px;
	}

	.contacts-item p {
		margin-top: 20px;
		color: #fff;
		display: block;
		font-size: 26px;
	}

	.contacts-item li {
		color: #fff;
		font-size: 18px;
		line-height: 28px;
	}

	.contacts-item__phones li::before{
		height: 20px;
		display: inline-block;
		margin: 0 10px 0 0;
		width: 20px;
		content: "";
		background: url(../img/telephone.png) no-repeat;
		background-size: cover;
	}

	.contacts-item__map li a::before{
		height: 20px;
		display: inline-block;
		margin: 0 10px 0 0;
		width: 20px;
		content: "";
		background: url(../img/placeholder.png) no-repeat;
		background-size: cover;
	}

	.contacts-item li a {
		color: #fff;
	}

	.contacts-item li a:hover {
		color: #3190ff;
		transition-duration: .3s;
		text-decoration: none;
	}



	footer {
		color: #fff;
		border-top: 2px solid #535353;
		padding: 30px 0;
		background: #343a40;
	}

	.footer {
		margin: 0;
	}