* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html { font-size: 10px }
body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}
.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calc {
    width: 45rem;
    min-height: 40rem;
    background-color: #FFFDFF;
    box-shadow: 1px 2px 8px 2px rgba(100, 100, 100, .25);
}

.calc-display {
    background-color: rgb(255, 240, 255);
    font-size: 3.2rem;
    height: 150px;
    text-align-last: right;
    color: #606060;
    overflow: hidden;
}

.calc-display_field {
    width: calc(300vw + 450px);
    transform: translateX(calc(-100% + 450px));
    font-size: 5rem;
    padding: 0 15px 0 0;
    height: 90px;
    line-height: 90px;
}
.calc-display_result {
    padding: 0 15px;
    height: 60px;
    line-height: 60px;
    color: #7f7f7f;
}

.calc-keyboard {
    display: flex;
}
.calc-keyboard_main,
.calc-keyboard_aside {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.calc-keyboard_main {
    width: 80%;
    background-color: #404040;
}

.calc-keyboard_main--key {
    font-size: 4rem;
    width: calc(100% / 3);
    height: 120px;
    line-height: 120px;
    color: #efefef;
    background-color: transparent;
    border: unset;
}

.calc-keyboard_aside {
    width: 20%;
    background-color: #616161;
}
.calc-keyboard_aside--key {
    font-size: 2.5rem;
    width: 100%;
    height: 100px;
    line-height: 100px;
    color: #d0d0d0;
    background-color: transparent;
    border: unset;
}
.calc-keyboard_main--key:focus { box-shadow: inset 0px 0px 0px 100px rgba(0, 0, 0, .3)  }
.calc-keyboard_main--key:hover { box-shadow: inset 0px 0px 0px 100px rgba(0, 0, 0, .15) }
.calc-keyboard_aside--key:hover{ box-shadow: inset 0px 0px 0px 100px rgba(0, 0, 0, .15) }
.calc-keyboard_aside--key:focus{ box-shadow: inset 0px 0px 0px 100px rgba(0, 0, 0, .3)  }