html{
	font-size: 15px;
}

body{
	font-family: 'Open Sans', sans-serif;
	color: #2c3f55;
	overflow-x: hidden;
}

ul, li{
	display: block;
	padding: 0;
	margin: 0;
	list-style: none;
}

*{
	-moz-transition: all 0.3s ease;
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.3s;
	-webkit-transition-timing-function: ease;
}

h2{
	text-transform: uppercase;
	font-size: 2.6rem;
	font-weight: 800;
	color: #1a283a;
	margin-top: 0;
	margin-bottom: 0;
	letter-spacing: 0.08em;
}

h2:before{
	content: '';
	display: block;
	background: #d84d4d;
	width: 9px;
	height: 28px;
	position: absolute;
	margin-top: 8px;
	margin-left: -30px;
}

a, a:hover, a:active, a:focus, button,
input, button:hover, button:active, button:focus{
	text-decoration: none;
	outline: none;
}

.container{
	position: relative;
}
 
/* Шапка */
.upper{
	text-transform: uppercase;
}

.act{
	color: #fff;
	background: #d84d4d;
	border: 0;
	border-radius: 70px;
	text-transform: uppercase;
	font-weight: 800;
	display: block;
	width: 100%;
	padding: 19px 0;
	font-size: 1.2rem;
	letter-spacing: 0.15em;
}

.act:hover{
	background: #c53636;
	color: #fff;
}

.act:active{
	box-shadow: 0 0 20px rgba(0,0,0,0.4) inset;
}
 
.heading{
	background: #2c3f55;
	padding: 15px 0 30px 0;
}

.logo{
	margin-top: 20px;
}

.menu{
	margin: 30px 0 0 0;
}

.menu__item{
	float: left;
}

.menu__item a{
	color: #c3d6eb;
	text-transform: uppercase;
	font-weight: 800;
	border-radius: 60px;
	padding: 8px 16px;
	text-decoration: none;
	font-size: 0.8rem;
}

.menu__item a:hover{
	color: #fff;
	background: #24354a;
	text-decoration: none;
}

.contacts__phone{
	font-size: 1.667rem;
	color: #fff;
	font-weight: 800;
	margin-bottom: 15px;
}

.contacts__btn{
	font-size: 0.8rem;
	border: 1px solid #fff;
	padding: 10px 25px;
	color: #fff;
	border-radius:  60px;
	font-weight: 800;
}

.contacts__btn:hover{
	color: #2c3f55;
	background: #fff;
}

.contacts__btn:active{
	box-shadow: 0 0 12px rgba(0,0,0,0.4) inset;
}

/* Первый экран */

.services{

}

.services__item{
	width: 48%;
	padding-left: 100px;
	margin-bottom: 60px;
}

.services__item_fix{
	background: url(../img/fix.png) no-repeat left center;	
}

.services__item_frame{
	background: url(../img/car.png) no-repeat left center;	
}

.services__item_electric{
	background: url(../img/electric.png) no-repeat left center;	
}

.services__item_wash{
	background: url(../img/wash.png) no-repeat left center;	
}

.services__title{
	text-transform: uppercase;
	font-size: 1.267rem;
	font-weight: 800;
	margin-bottom: 6px;
}

.services__text{
	font-size: 0.933rem;
}

h1{
	font-size: 3.333rem;
	text-transform: uppercase;
	color: #1a283a;
	font-weight: 800;
	margin: 80px 0;
	line-height: 1.3em;
	letter-spacing: 0.08em;
}

.form{
 margin: 50px 0;
 border-radius: 3px;
 box-shadow: 0 10px 30px rgba(0,0,0,0.2);
 padding-bottom: 1px;
 background: rgba(255,255,255,0.9);
 z-index: 2;
 position: relative;
}

.form__title{
	font-size: 1.067rem;
	color: #fff;
	font-weight: 800;
	background: #2c3f55;
	padding: 15px 5px;
	border-radius: 3px 3px 0 0;
}

.order{
	margin: 36px;
}

.order label{
	font-size: 1rem;
	text-transform: uppercase;
	margin-bottom: 15px;
	font-weight: 300;
}

.order__input{
	border-radius: 3px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.2);
	border: 0;
	padding: 15px 10px 15px 30px;
	display: block;
	width: 100%;
	margin-bottom: 30px;
	font-size: 0.933rem;
	font-family: 'Open Sans', sans-serif;
}

.order__input:focus{
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}

.order__credits{
	text-align: center;
	font-weight: 400;
	font-size: 0.667rem;
	margin-top: 17px;
	text-transform: uppercase;
}

/* Почему нас выбирают */

#why{
	background: #eceef0;
	padding: 90px 0 100px 0;
	position: relative;
}

#why:after{
	content: '';
	display: block;
	height: 12px;
	background: url(../img/wave_bg.png) center center;
	position: absolute;
	width: 100%;
	bottom: -12px;
}

.car__bg{
	position: absolute;
	right: -270px;
	top: -450px;
	z-index: 1;
}

.adv{
	margin-top: 40px;
}
.adv__img{
	height: 140px;
}

.adv__img_first{
	background: url(../img/like.png) no-repeat center center;
}

.adv__img_second{
	background: url(../img/services.png) no-repeat center center;
}

.adv__img_third{
	background: url(../img/parts.png) no-repeat center center;
}

.adv__img_fourth{
	background: url(../img/comfort.png) no-repeat center center;
}

.adv__title{
	font-size: 1.07rem;
	margin-bottom: 10px;
	font-weight: 800;
}

#services{
	padding: 90px 0 100px 0;
	position: relative;
}

.description{
	font-size: 1.067rem;
	margin-top: 44px;
	margin-bottom: 65px;
}

.tabs__list{
	margin-bottom: 40px;
}

.tabs__item{
	color: #516276;
	font-size: 1.267rem;
	text-transform: uppercase;
	font-weight: 800;
	cursor: pointer;
	display: inline;
	margin-right: 30px;
	padding-bottom: 10px;
}

.tabs__item:last-child{
	margin-right: 0;
}

.tabs__item_active{
	color: #d84d4d;
	border-bottom: 3px solid #d84d4d;
}

.tabs__listing{
	margin-top: 30px;
}

.tabs__ul{
	margin-right: 90px;
}

.tabs__li{
	margin-bottom: 10px;
}

.tabs__li i{
	color: #d84d4d;
	margin-right: 3px;
}

.gallery{
	width: 80%;
	position: relative;
}

.gallery_imgs{

}

.gallery__one{

}

.gallery__one img{
	width: 100%;
}

.gallery__nav{
	
}

.gallery_arrow{
	font-size: 1.667rem;
	background: #fff;
	width: 34px;
	height: 34px;
	line-height: 34px;
	text-align: center;
	display: block;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	cursor: pointer;
}

.gallery_arrow_prev{
	left: -17px;
}

.gallery_arrow_next{
	right: -17px;
}

.order-block{
	width: 80%;
	margin-top: 30px;
}

.order-block__act{
	font-size: 0.933rem;
	text-align: center;
}

#look{
	background: #2c3f55 url(../img/auto.png) no-repeat center bottom;
	color: #fff;
	padding: 90px 0 100px 0;
	position: relative;
}

#look h2{
	color: #fff;
}

.photos img{
	margin-top: 40px;
}

footer{
	font-size: 0.867rem;
	padding: 40px 0;
}

.footer__up{
	width: 80px;
	height: 80px;
	line-height: 80px;
	text-align: center;
	border-radius: 50%;
	font-size: 2.533rem;
	position: absolute;
	left: 50%;
	top: -83px;
	margin-left: -40px;
	background: #fff;
	box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
	cursor: pointer;
}