body{
	min-width: 1024px;
	margin: 0;
}

header{
	background-color: #4e8598;
	width: 100%;
}

.clearfix:after {
	content: '';
	display: table;
	width: 100%;
	clear: both;
}

.container {
	margin: 0 auto;
	text-align: center;
	width: 940px;
}

.heading{
	padding-top: 50px;
}

.pro {
	padding-top: 180px;
}

.pro h1{
	font-size: 26px;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
}


.button {
	border: solid;
	border-width: 1px;
	padding: 20px;
	color: #fff;
	display: block;
	text-decoration: none;
	border-radius: 110px;
	width: 220px;
	margin: auto;
	margin-top: 30px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 13px;
}

.button:hover {
	border: solid;
	border-width: 1px;
	padding: 20px;
	color: #4e8598;
	background-color: #fff;
	display: block;
	text-decoration: none;
	border-radius: 110px;
	width: 220px;
	margin: auto;
	margin-top: 30px;
	text-transform: uppercase;
	font-weight: bolder;
	font-size: 13px;
}

.arrow{
	padding-top: 180px;
	padding-bottom: 50px;
}

.about_me{
	margin: 80px auto;
}

.about_me h2{
	color: #2f383b;
	font-size: 26px;
	font-weight: bold;
	text-transform: uppercase;
}

#mission{
	margin: 0 auto;
}

.mission{
	display: inline-block;
	text-align: left;
	float: left;
}

.mission span{
	color: #2f383b;
	font-size: 22px;
	font-weight: bold;
	text-transform: uppercase;
	padding-bottom: 10px;
}

.mission span:after{
	content: '';
	display: block;
	background: #4e8598;
	width: 72px;
	height: 3px;
	margin-top: 10px;
}

.mission p {
	margin-top: 30px;
	line-height: 1.3em;
}

.merit{
	display: inline-block;
	margin-right: -160px;
	text-align: left;
}

.merit span{
	color: #2f383b;
	font-size: 22px;
	font-weight: bold;
	text-transform: uppercase;
	padding-bottom: 10px;
}

.merit span:after{
	content: '';
	display: block;
	background: #4e8598;
	width: 72px;
	height: 3px;
	margin-top: 10px;
}

.characteristic{
	margin-left: -35px;
}

.characteristic ul{
	 margin-left: 0; /* Отступ слева в браузере IE и Opera */
    padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
}

.characteristic li{
	line-height: 3.5em;
	list-style-type: none;
	font-weight: bold; 
	text-align: left center;
	color: #b0b2b3;
}
.characteristic .img{
	text-align: left;
}

.characteristic_line{
	color: #4e8598;
	padding: 0 20px;
}

#why{
	margin: 0 auto;
	margin-top: 130px;
}

.why_me{

}

.why_me h3{
	color: #2f383b;
	font-size: 26px;
	font-weight: bold;
	text-transform: uppercase;
}

.triple{
	margin-top: 100px;
}

.triple_circle{
	margin-left: 0; /* Отступ слева в браузере IE и Opera */
   padding-left: 0;
   padding-right: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
}

.triple_circle li{
	list-style-type: none;
	display: inline;
}

.triple_circle_link{
	text-decoration: none;
	color: #2f383b;
	font-size: 30px;
	border: solid;
	border-width: 1.3px;
	border-color: #2f383b;
	border-radius: 50%;
	padding: 25px 35px;
	margin: 0 110px;
}

.triple_circle_link:nth-child(3){
	text-decoration: none;
	color: #2f383b;
	font-size: 30px;
	border: solid;
	border-width: 1.3px;
	border-color: #2f383b;
	border-radius: 50%;
	padding: 25px 35px;
	margin: 0 100px;
	margin-right: 0;
}

.triple_circle_link:hover{
	text-decoration: none;
	color: #fff;
	font-size: 30px;
	border: solid;
	border-width: 1.3px;
	border-color: #2f383b;
	background: #2f383b;
	border-radius: 50%;
	padding: 25px 35px;
	margin: 0 110px;
}

.triple_paragraph {
	margin-top: 40px;
	font-weight: bold;
	color: #2f383b;
}

.triple_paragraph li{
	list-style-type: none;
	display: inline;
	padding: 25px 45px;
}

.seems{
	margin-top: 70px;
}

.seems h4{
	color: #2f383b;
	font-size: 22px;
	font-weight: bold;
	text-transform: uppercase;
}

.seems p {
	margin-top: 30px;
}

.button_s {
	border: solid;
	border-width: 1px;
	padding: 20px;
	background-color: #2f383b; 
	color: #fff;
	display: block;
	text-decoration: none;
	border-radius: 110px;
	width: 220px;
	margin: auto;
	margin-top: 30px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 13px;
}

.button_s:hover {
	border: solid;
	border-width: 1px;
	padding: 20px;
	border-color: #2f383b;
	background-color: #fff;
	color: #2f383b;
	display: block;
	text-decoration: none;
	border-radius: 110px;
	width: 220px;
	margin: auto;
	margin-top: 30px;
	text-transform: uppercase;
	font-weight: bolder;
	font-size: 13px;
}

footer{
	height: 100%;
	margin-top: 75px;
	background-color: #2f383b;
	text-align: center;
	width: 100%;
}

footer ul{
	color: #b5b7b8;
	font-size: 13px;
	padding: 50px 0;
}

footer li{
	list-style-type: none;
	display: inline;
	padding: 0 80px;
}

footer li:nth-child(3){
	list-style-type: none;
	display: inline;
	padding: 0 80px;
	color: #f0f1f1;
}
