body {
    font-family: 'Open Sans Condensed', sans-serif; 
}

.header {
	background: #1485d4;
	background: -moz-linear-gradient(-45deg, #1485d4 49%, #0f57a1 100%);
	background: -webkit-linear-gradient(-45deg, #1485d4 49%,#0f57a1 100%);
	background: linear-gradient(135deg, #1485d4 49%,#0f57a1 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1485d4', endColorstr='#0f57a1',GradientType=1 );
	height: 100vh;
	cursor: pointer;
}

.snowfall{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: url(../img/snowfall.png);
	opacity: 0.4;
}

.snow1{
 background: url(../img/snow1.png) repeat center top;
 height: 114px;
 position: absolute;
 bottom: 0;
 left: 0;
 width: 100%;
}

.snow2{
 background: url(../img/snow2.png) repeat center top;
 height: 114px;
 position: absolute;
 bottom: 0;
 left: 0;
 width: 100%;
}

.santa{
	background: url(../img/santa.png) no-repeat center top;
	height: 428px;
	width: 597px;
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -298.5px;
}

.logo{
	width: 180px;
	height: 116px;
	background: url(../img/logo.png) no-repeat center top;
	padding-top: 95px;
	text-align: center;
	position: absolute;
	left: 50%;
	margin-left: -90px;
	top: 10%;
	color: #fff;
	text-transform: uppercase;
	font-size: 16px;
	letter-spacing: 0.12em;
	font-weight: bold;
}

.text{
	background: url(../img/text.png);
	width: 935px;
	height: 200px;
	position: absolute;
	left: 50%;
	margin-left: -467.5px;
	top: 50%;
	margin-top: -150px;
}

.ball{
	background: url(../img/ball.png) no-repeat center top;
	width: 1516px;
	height: 820px;
	position: absolute;
	left: 50%;
	margin-left: -758px;
	bottom: 0;
}