/*#header-hp {
	@media (max-width: 750px) {

	}
}
*/

.heading li {
	@media (max-width: 992px) { 
		margin-left: 0;
	}
}

#header-hp,
#header-faq,
#header-careers {
	@media (max-width: 992px) { 
		height: 800px;
	}

	@media (max-width: 750px) {
		height: auto;
		background: none;
	}

	.nav-link {
		@media (max-width: 992px) {
			font-size: 20px;
		}
	}

	.heading-title {
		@media (max-width: 992px) {
			padding-left: 50px;
		}

		li {
			@media (max-width: 992px) { 
				font-size: 24px;
			}
		}
	}
	.heading-title h1 {
		@media (max-width: 992px) {
			font-size: 76px;
		}
	}

	.heading-title p {
		@media (max-width: 992px) {
			font-size: 35px;
			line-height: 43px;
		}
	}

	.heading-title a {
		@media (max-width: 750px) {
			margin: 40px 20%;
			padding: 20px 40px;
			display: block;
		}
	}
}

#what {
	@media (max-width: 750px) {
		margin-top: 0;
	}

	.what-l__item1,
	.what-l__item2,
	.what-l__item3,
	.what-r__item1,
	.what-r__item2,
	.what-r__item3, {
		@media (max-width: 992px) {
			margin-top: 80px;
		}
	}

	.what-l__item1 h2 {
		@media (max-width: 992px) {
			font-size: 76px;
			line-height: 76px;
		}
	}

	.what-l .item-title,
	.what-r .item-title {
		font-size: 40px;
		line-height: 40px;
	}

	.what-r p,
	.what-l p {
		font-size: 22px;
		line-height: 30px;
		margin-top: 24px;
	}
}

#how {
	@media (max-width: 992px) {
		margin-top: 50px;
	}

	.four-prop {
		@media (max-width: 750px) {
			margin: 0;
		}
	}

	.four-prop p {
		@media (max-width: 1200px) {
			margin-left: 20px;
		}
	}

	.how-title h2 {
		@media (max-width: 992px) {
			font-size: 72px;
			line-height: 76px;
		}
	}

	.how-title p {
		@media (max-width: 992px) {
			margin-top: 42px;
			font-size: 32px;
			line-height: 33px;
		}
	}

	.how-users {
		@media (max-width: 992px) {
			margin-top: 60px;
		}

		.how-users__title {
			@media (max-width: 992px) {
				font-size: 35px;
			}
		}

		p {
			@media (max-width: 992px) {
				font-size: 24px;
				line-height: 24px;
			}

		}

		li{
			@media (max-width: 992px) {
				font-size: 18px;
			}
		}
	}

	.three-man p {
		@media (max-width: 992px) {
			font-size: 28px;
			line-height: 28px;
		}
	}

	.three-man p:nth-child(2),
	.three-man p:nth-child(3) {
		@media (max-width: 790px) {
			margin-left: 0;
		}
	}

	.three-man__img img {
		@media (max-width: 992px) {
			margin-left: 43px;
		}
	}

	.four-prop p {
		@media (max-width: 992px) {
			font-size: 22px;
			line-height: 22px;
		}	

		span {
			@media (max-width: 992px) {
				font-size: 18px;
				line-height: 18px;
			}	    
		}
	}
}

#security {
	@media (max-width: 992px) {
		margin-top: 100px;
		padding-left: 50px;
		background: none;
		height: auto;
	}

	.security h2{
		@media (max-width: 992px) {
			font-size: 64px;
			font-weight: 400;
			letter-spacing: -0.21px;
			line-height: 76px;
		}
	}

	.security p{
		@media (max-width: 992px) {
			font-size: 34px;
			font-weight: 400;
			letter-spacing: -0.11px;
			line-height: 42px;
		}
	}

	.security a {
		@media (max-width: 992px) {
			width: 370px;
			height: 104px;
			font-family: "Sofia Pro Semi Bold";
			font-size: 36px;
			font-weight: 600;
			padding-top: 25px;
		}
	}

}

.security-img {
	@media (max-width: 992px) {
		margin-top: 50px;
		display: block;
		width: 100%;
	}
}

#careers {
	@media (max-width: 992px) {
		margin-top: 150px;
	}

	.careers-title  {
		h2 {
			@media (max-width: 992px) {
				font-size: 72px;
				line-height: 76px;
			}
		}

		p {
			@media (max-width: 992px) {
				font-size: 30px;
				line-height: 34px;
			}
		}
	}

	.careers-items-r {
		@media (max-width: 992px) {
			margin-top: 40px;
		}
	}

	.careers-item__first p,
	.careers-item__second p {
		@media (max-width: 992px) {
			font-size: 22px;
			line-height: 24px;
		}
	}

	.careers-item__first .careers-item__title,
	.careers-item__second .careers-item__title {
		font-size: 30px;
		margin-top: 32px;
	}

	.careers-item__first span,
	.careers-item__second span {
		font-size: 18px;
	}
}

#request,
#details {
	@media (max-width: 992px) {
		padding-left: 0;
		padding-right: 0;
	}

	h2 {
		@media (max-width: 992px) {
			font-size: 72px;
		}
	}

	input {
		font-size: 22px;
	}
}

footer {
	@media (max-width: 992px) {
		padding: 50px 50px 75px 50px;
		font-size: 20px;
	}

	form {
		@media (max-width: 992px) {
			width: auto;
		}
	}

	.btn-sub {
		@media (max-width: 992px) {
			margin-left: 0; 
		}
	}

	ul {
		@media (max-width: 992px) {
			margin-left: 0;
		}
	}
}

/*FAQ*/
#header-faq {
	@media (max-width: 992px) { 
		height: auto;
	}
}

#accordion {

	@media (max-width: 992px) {
		margin-top: 100px;
		margin-left: 0;
	}

	@media (max-width: 750px) {
		height: 900px
	}

	.accordionWrapper {
		@media (max-width: 992px) {
			margin-left: 0;
		}
	}

	.accordionItemHeading {
		@media (max-width: 992px) {
			font-size: 35px;
		}	
	}

	.accordionItemContent {
		@media (max-width: 992px) {
			font-size: 18px;
		}
	}
}

/*Careers*/

#header-careers {
	@media (max-width: 992px) {
		height: auto;
	}
}

#skills {
	@media (max-width: 992px) {
		padding-left: 50px;
	}

	h3 {
		@media (max-width: 992px) {
			font-size: 42px;
		}
	}

	ul li {
		@media (max-width: 992px) {
			font-size: 24px;
			line-height: 43px;
		} 
	}

	.building p {
		font-size: 24px;
		line-height: 28px;
	}
}